* {
  text-shadow: none;
}

#add-rice-button {
  border-width: 0;
  background: cornflowerblue;
  color: white;
}

#save-button {
  border-width: 0;
  background: cornflowerblue;
  color: white;
}

#apply-button-name {
  border-width: 0;
  background: cornflowerblue;
  color: white;
}